.navbar{
  background-color: #3C3838;
  display:flex;
  align-items:center;
  height:8vh;
  padding:0 2rem;

}
.navbar-brand{
  color: #FFFACA;
  font-family: "Sansita One";
  font-size:32px;
  margin-right: 4rem;
}
.navbar-item{
  color: #FFFFFF;
  font-family: "Quicksand";
  font-size:20px;
}

.sub-navbars{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
}

.navbar-rigth .navbar-item{
    margin-left: 2rem;
}
