@font-face {
    font-family: "Sansita One";
    src: local('Sansita One'), url(./assets/Fonts/SansitaOne.ttf) format('truetype');
}

@font-face {
    font-family: "Quicksand";
    src: local('Quicksand'), url(./assets/Fonts/Quicksand.ttf) format('truetype');
}

@font-face {
    font-family: "Rock Salt";
    src: local('Rock Salt'), url(./assets/Fonts/RockSalt.ttf) format('truetype');
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.outerContainer {
    height: 92vh;
    position: relative;
}

* {
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
}

Button {
    font-family: Quicksand !important;
    text-transform: none !important;
    color: #000000 !important;
    font-size: 24px !important;
    background-color: #ABEDFC !important;
}

Button.Mui-disabled {
    background-color: #FFFACA !important;
}

h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
}

p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.button {
    width: 140px;
    height: 50px;
    background-color: #ABEDFC;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: large;
    background-size: 10px;
    border-radius: 1px;
}

input {
    height: 25px;
}